/* RICKY WORK ON THIS */
@font-face {
    font-family: "headbarFont";
    src: url(/fontstest/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "h1Font";
    src: url(/fontstest/BeaufortforLOL-Regular.ttf);
}

@font-face {
    font-family: "h2Font";
    src: url(/fontstest/adobe-garamond-pro-2/AGaramondPro-Regular.otf);
}

@font-face {
    font-family: "Montserrat";
    src: url(/fontstest/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "textFont";
    src: url(/fontstest/DM_Sans/static/DMSans-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: "headbarFont";
    box-sizing: border-box;
}
body {
    background: #1c1a24;
    min-height: 100vh;
    width: 100%;
    font-family: "FF Mark W05", Arial, sans-serif;
}
.header {

    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(12, 3, 51, 0.3),
        rgba(12, 3, 51, 0.3)
    );
    display: flex;
    align-items: center;
    padding: 0 5%;
    position: relative;
    justify-content: center;
}
.header a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.08em;
    padding: 7px 13px;
    border-radius: 3px;
    /* border: 1px solid #fff;
    display: inline-block;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px; */
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    font-family: "headbarFont";
    text-decoration: none;
    color: #e9e9ff;
    font-size: 17px;
}

a.active,
a:hover {
    background: #f589e9;
    transition: 0.5s;
}

.main1 {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main1 h1 {
    font-size: 60px;
}
.main1 p {
    margin: 20px 0 30px;
    font-size: 20px;
    color: #ffffff;
}

.main2,
.main3,
.popular-content,
.FRQ {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin: 0px auto;
}

.main2 h2,
.main3 h2,
.popular-content h2,
.FRQ h2 {
    overflow-wrap: break-word;
    text-wrap: balance;
    word-break: break-word;
    font-family: Georgia, Times "Times New Roman", Times, serif, Times, serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 120px;
    color: #f589e9;
}

.main2 h3,
.main3 h3,
.popular-content h3,
.FRQ h3 {
    color: #e75168;
    font-family: Georgia, Times "Times New Roman", Times, serif, Times, serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.main2 p,
.main3 p,
.popular-content p,
.FRQ p {
    color: #ffffff;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.footer {
    background: #091428;
    color: #e75168;
    font-size: 18px;
}

.background {
    min-height: 100vh;
    width: 100%;
    background-image: url("/images/background.webp");
    background-size: cover;
    position: relative;
    opacity: 0.7;
}
.main1 h1 {
    width: 100%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    font-size: 60px;
    font-family: "h1Font";
}
.main1 p {
    margin-top: 80px;
}

.textAreaColumn {
    background-color: #ffffff;
    width: 100%;
}
.textAreaColumn div {
    float: left;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

.textAreaColumn div span {
    display: block;
    text-align: center;
}

.textAreaColumn div textarea {
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    border: 3px solid red;
    min-height: 400px;
    color: rgb(255, 255, 255);
}
