@font-face {
    font-family: "headbarFont";
    src: url(/fontstest/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "h1Font";
    src: url(/fontstest/BeaufortforLOL-Regular.ttf);
}

@font-face {
    font-family: "h2Font";
    src: url(/fontstest/adobe-garamond-pro-2/AGaramondPro-Regular.otf);
}

@font-face {
    font-family: "Montserrat";
    src: url(/fontstest/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "textFont";
    src: url(/fontstest/DM_Sans/static/DMSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "headbarFont";
    box-sizing: border-box;
}
body {
    background: #1c1a24;
    min-height: 100vh;
    width: 100%;
    font-family: "FF Mark W05", Arial, sans-serif;
}
.header {
    height: 100vh;
    width: 100%;
    background-image: url(/images/guidesbackground.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 5%;
    position: relative;
    justify-content: center;
}
.header a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.08em;
    padding: 7px 13px;
    border-radius: 3px;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 80px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    font-family: "headbarFont";
    text-decoration: none;
    color: #e9e9ff;
    font-size: 17px;
}

a.active,
a:hover {
    background: #f589e9;
    transition: 0.5s;
}

.main1 {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main1 h1 {
    font-size: 70px;
    font-family: "h1Font";
}
.main1 p {
    text-align: center;
    text-wrap: balance;
    line-height: 20px;
}

.main2 h2,
.main3 h2,
.popular-content h2,
.FRQ h2 {
    margin: 0;
    font-family: "h1Font", Arial, sans-serif;
    font-weight: 700px;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 120px;
    text-transform: uppercase;
    color: #f589e9;
}

.main2 h3,
.main3 h3,
.popular-content h3,
.FRQ h3 {
    margin: 0;
    color: rgb(239, 85, 108);
    font-family: "Montserrat", Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 2px;
}

.main2 p,
.main3 p,
.popular-content p,
.FRQ p {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 1em;
}

.popular-content {
    background-color: #1c1a24;
    padding: 48px;
}

.main2 {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    width: 100%;
    margin: auto 0 auto;
}

.main2 img {
    height: 250px;
}

.main2 p {
    margin-right: 15px;
}

.main2text {
    width: 40%;
}

.main3 {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    width: 100%;
    margin: auto 0 auto;
}

.main3 img {
    height: 250px;
}

.main3 p {
    margin-right: 15px;
}

.main3text {
    width: 40%;
}

.FRQ {
    padding: 48px;
}

.buttonPrimary {
    border: 0;
    text-align: center;
    text-wrap: balance;
    display: inline-block;
    padding: 19px 34px;
    width: fit-content;
    margin-top: 25px;
    line-height: 26px;
    color: #ffffff;
    background-color: #1c1a24;
    border-radius: 10px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 200ms ease-out;
}

.buttonSecondary {
    border: 0;
    text-align: center;
    text-wrap: balance;
    display: inline-block;
    padding: 19px 34px;
    width: fit-content;
    margin-top: 25px;
    line-height: 26px;
    color: #1c1a24;
    background-color: #e75168;
    border-radius: 10px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: 200ms ease-out;
}

.buttonPrimary:hover {
    background: #f589e9;
    color: #091428;
    transition: 0.5s;
}

.buttonSecondary:hover {
    background: #f589e9;
    color: #091428;
    transition: 0.5s;
}
.footer {
    background: #091428;
    color: #e75168;
    font-size: 18px;
}

ul {
    list-style: none;
}

li {
    color: white;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 1em;
}

.divider {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 48px auto 0px;
}

.dividerlinetop {
    margin-right: -8px;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0),
        hsla(0, 0%, 100%, 0.41)
    );
    margin-right: -16px;
    height: 1px;
    max-width: 400px;
    width: 35%;
}

.dividerlinebottom {
    margin-left: -8px;
    background-image: linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 0.41),
        rgba(0, 0, 0, 0)
    );
    margin-left: -16px;
    height: 1px;
    max-width: 400px;
    width: 35%;
}
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
