@font-face {
    font-family: "headbarFont";
    src: url(/fontstest/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "h1Font";
    src: url(/fontstest/BeaufortforLOL-Regular.ttf);
}

@font-face {
    font-family: "h2Font";
    src: url(/fontstest/adobe-garamond-pro-2/AGaramondPro-Regular.otf);
}

@font-face {
    font-family: "Montserrat";
    src: url(/fontstest/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "textFont";
    src: url(/fontstest/DM_Sans/static/DMSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: #1c1a24;
    color: #e9e9ff;
    min-height: 100vh;
    width: 100%;
    font-family: "textFont";
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(238, 34, 194, 0.7), #640a3fb3),
        url(/images/starguardian.jpg);
    background-size: cover;
    position: relative;
}

nav {
    background: #091428;
    height: 80px;
    width: 100%;
}
label.logo {
    color: white;
    font-family: "h1Font";
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav u1 {
    float: right;
    margin-right: 20px;
}
nav u1 li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav u1 li a {
    font-family: "headbarFont";
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.08em;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,
a:hover {
    background: #f589e9;
    transition: 0.5s;
}

.main1 {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main1 h1 {
    font-size: 70px;
    font-family: "h1Font";
}
.main1 p {
    margin: 20px 0 30px;
    font-size: 20px;
    color: #ffffff;
}

.main2,
.main3,
.popular-content,
.FRQ {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin: 0px auto;
}

.main2 h2,
.main3 h2,
.popular-content h2,
.FRQ h2 {
    font-family: "h1Font", Arial, sans-serif;
    font-weight: 700px;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 120px;
    text-transform: uppercase;
    color: #f589e9;
}

.main2 h3,
.main3 h3,
.popular-content h3,
.FRQ h3 {
    color: rgb(239, 85, 108);
    font-family: "Montserrat", Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 2px;
}

.main2 p,
.main3 p,
.popular-content p,
.FRQ p {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 1em;
}

/* IN PROGRESS */
.Button {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 19px;
    background-color: #e75168;
    /* background-color: #0a1231; */
    border: 1px solid #494f66;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    padding: 15px 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.Button p {
    font-size: 25px;
}

.footer {
    background: #091428;
    color: #e75168;
    font-size: 18px;
}

ul {
    list-style: none;
}

li {
    color: white;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 1em;
}
